*{
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #7449fe;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    margin: auto;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    
}

@media(max-width:1280px){
    .container{
        width: 100%;
    }
}

.heroimg {
    height: 50px;
    padding: 50px;
    float: right;

}

.herotxt {
    margin-left: 8%;
    margin-top: 15%;
}

.herotxt h1 {
    font-size: 22px;
    color:#212121;
    margin-bottom: 20px;
    
}

.herotxt h2{
    font-size: 50px;
    color:#212121;
    margin-bottom: 20px;
    
}
.herotxt p{
    color: #555;
    line-height: 22px;
}

.herotxt a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}